.kanban {
  display: flex;
  margin: 24px;
}
.kanban-big {
  list-style: none;
  width: auto;
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
  border-style: solid;
  border-color: red;
}
.kanban-small {
  list-style: none;
  width: 160px;
  padding: 0;
  margin: 8px;
  border-style: solid;
  border-color: blue;
}
.kanban-small-name {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
}
.kanban-big-name {
  background-color: pink;
  text-align: center;
  margin-bottom: 16px;
  padding: 16px;
}
.kanban-col-item {
  background-color: white;
  margin-bottom: 4px;
  padding: 16px;
  cursor: grab;
}
.kanban-col-item:active {
  cursor: grabbing;
}