<h1>New Kanban</h1>

<p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>

<%= render 'form', kanban: @kanban %>

<%= link_to 'Back', kanbans_path %>
