<nav class="navbar navbar-expand-sm navbar-info bg-info mt-3 mb-3">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul id="insert" class="navbar-nav mr-auto">
      <li id="mode1" class="nav-item active">モード1</li>
      <li id="mode2" class="nav-item active">モード2</li>
      <li id="mode3" class="nav-item active">モード3</li>
    </ul>
  </div>
</nav>
      
<p id="notice"><%= notice %></p>

<%= tag.div id: :boards, data: { id: @kanban.id,lists: @kanban.kanban_bigs.to_json(include: {kanban_smalls: {include: :cards}}) } %>
<%= link_to 'Edit', edit_kanban_path(@kanban) %> |
<%= link_to 'Back', kanbans_path %>
